.window-app .window-content section.generated-image-container {
  flex: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;

  .generated-image {
    font-size: 200px;
  }

  img.generated-image {
    object-fit: contain;
    border: none;
  }
}
